################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2 - Common/.vs
/2 - Common/Producer/kafka-producer/.vs/kafka-producer
/2 - Common/Producer/kafka-producer/obj
/2 - Common/Producer/kafka-producer/bin/Debug/net5.0
/3 - Cases/Case1/kafka-consumer/.vs/kafka-consumer
/3 - Cases/Case1/kafka-consumer/bin/Debug
/3 - Cases/Case1/kafka-consumer/obj
/3 - Cases/Case2/api-domain/.vs/api-domain
/3 - Cases/Case2/api-domain/obj
/3 - Cases/Case2/api-domain/bin/Debug
/3 - Cases/Case2/kafka-consumer/.vs/kafka-consumer
/3 - Cases/Case2/kafka-consumer/bin/Debug
/3 - Cases/Case2/kafka-consumer/obj
/3 - Cases/Case3/.vs
/3 - Cases/Case3/adapter-architecture/.vs
/3 - Cases/Case3/adapter-architecture/bin/Debug
/3 - Cases/Case3/adapter-architecture/obj
/3 - Cases/Case3/kafka-consumer/.vs/kafka-consumer
/3 - Cases/Case3/kafka-consumer/bin/Debug
/3 - Cases/Case3/kafka-consumer/obj
/3 - Cases/Case4/.vs
/3 - Cases/Case4/api-domain/.vs/api-domain
/3 - Cases/Case4/api-domain/bin/Debug
/3 - Cases/Case4/api-domain/obj
/3 - Cases/Case4/kafka-consumer/.vs/kafka-consumer
/3 - Cases/Case4/kafka-consumer/bin/Debug/net5.0
/3 - Cases/Case4/kafka-consumer/obj
/3 - Cases/Case4/rabbit-consumer/.vs/rabbit-consumer
/3 - Cases/Case4/rabbit-consumer/bin/Debug/net5.0
/3 - Cases/Case4/rabbit-consumer/obj
/.vs
/3 - Cases/Case5/adapter-architecture/.vs
/3 - Cases/Case5/adapter-architecture/bin/Debug
/3 - Cases/Case5/adapter-architecture/obj
/3 - Cases/Case5/rabbit-consumer/.vs/rabbit-consumer
/3 - Cases/Case5/rabbit-consumer/bin/Debug/net5.0
/3 - Cases/Case5/rabbit-consumer/obj
/3 - Cases/Case6/adapter-architecture/.vs
/3 - Cases/Case6/adapter-architecture/bin/Debug
/3 - Cases/Case6/adapter-architecture/obj
