################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.v2
*.suo
*.dll
/kafka-consumer/bin/Debug/net5.0
/kafka-consumer/obj
/kafka-producer/.vs/kafka-producer/config
/kafka-producer/bin/Debug/net5.0
/kafka-producer/obj
/.vs
/adapter-architecture/.vs
/adapter-architecture/bin/Debug/netcoreapp3.1
/adapter-architecture/obj
